@font-face {
    font-family: 'Poppins-Regular';
    src: url('../../../assets/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-extrabold';
    src: url('../../../assets/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-bold';
    src: url('../../../assets/fonts/Poppins-Bold.ttf') format('truetype');
}

label{
    font-family: Poppins-Regular;
    color:white;
}

p, span{
    font-family: Poppins-extrabold;
}

.main_proyect{
    height: 100vh;
    width: 100%;
    background: #ffffff8f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .main_proyecto01{
        background-color: #fffffe;
        max-width: 341px;
        width: 100%;
        margin: 46px;
        padding: 32px 22px 56px 22px;
        border-radius: 16px 16px 100px 16px;
          &__container{
            display: flex;
            justify-content: space-between;
            &_row{
                display: flex;
                flex-direction: column;
                width: 32%;
                height: 80px;
                label{
                    font-size: clamp(0.5rem , 3vw, 0.75rem);
                    color: #72757e;
                    letter-spacing: 4px;
                }
                input{
                    font-size: 1.25rem;
                    padding: 0 14px;
                    font-family: Poppins-bold;
                    border: 1px solid #8080808c;
                    height: 40px;
                    border-radius: 8px;
                }
    
                .error{
                    color: #fd8080;
                }
            }
            @media (width > 480px){
                width: 80%;
            }
          }
    
          form{
              .container_button {
                display: flex;
                align-items: center;
                position: relative;
                height: 90px;
                margin: 8px 0;
              
                  hr {
                    width: 100%;
                    border: 1px solid #80808026;
                  }
              
                  button {
                    border-radius: 50%;
                    border: none;
                    padding: 17px;
                    position: absolute;
                    background-color: #7f5af0;
                    right: 38%;
    
                    @media (width > 480px){
                        right: 0;
                    }
                    img{
                        width: 32px;
                    }
                  }
                  button:active{
                    background-color: black;
                  }
              }
    
          }
    
          .container_result{
            p{
                font-size: 3rem;
                color: #7f5af0;
                span{
                    color: black;
                }
                @media (width > 480px){
                    font-size: 4.6875rem;
                    line-height: 4.4375rem;
                }
                
            }
        }
        @media (width > 480px){
            border-radius: 16px 16px 125px 16px;
        }
        @media (width > 480px) {
            max-width: 400px;
        }
    }
    .link_back{
        margin: 15px auto;
        font-size: 2rem;
    }
}
  