@font-face {
    font-family: 'Poppins-Regular';
    src: url('../../../assets/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-extrabold';
    src: url('../../../assets/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-bold';
    src: url('../../../assets/fonts/Poppins-Bold.ttf') format('truetype');
}

label{
    font-family: Poppins-Regular;
    color:white;
}

p, span{
    font-family: Poppins-extrabold;
}

  .main_proyecto01{
    background-color: #fffffe;
    margin: 0 8%;
    max-width: 500px;
    margin-top: 178px;
    padding: 32px 16px 56px 16px;
    border-radius: 16px 16px 150px 16px;
      &__container{
        display: flex;
        justify-content: space-between;
        &_row{
            display: flex;
            flex-direction: column;
            width: 32%;
            label{
                font-size: clamp(0.5rem , 3vw, 0.75rem);
                color: #72757e;
                letter-spacing: 4px;
            }
            input{
                font-size: 1.25rem;
                padding: 0 14px;
                font-family: Poppins-bold;
                border: 1px solid #8080808c;
                height: 40px;
                border-radius: 8px;
            }

        }
        @media (width > 480px){
            width: 80%;
        }
      }

      form{
          .container_button {
            display: flex;
            align-items: center;
            position: relative;
            height: 90px;
            margin: 16px 0;
          
              hr {
                width: 100%;
                border: 1px solid #80808026;
              }
          
              button {
                border-radius: 50%;
                border: none;
                padding: 17px;
                position: absolute;
                background-color: #7f5af0;
                right: 38%;

                @media (width > 480px){
                    right: 0;
                }
              }
              button:active{
                background-color: black;
              }
          }

      }

      .container_result{
        p{
            font-size: 2.5rem;
            color: #7f5af0;
            span{
                color: black;
            }
            @media (width > 480px){
                font-size: 4.6875rem;
                line-height: 4.4375rem;
            }
            
        }
    }
    @media (width > 480px){
        margin: 20% 20%;

    }
}