    <ul [ngClass]="{'ulContrast': changeClase}">
        <li>
            <button class="btn_footer" title="Perfil linkedin" (click)="abrirEnlace()" aria-label="visitar perfil de linkedin">
                <img src="../../../assets/img/linkedin.png" alt="">
            </button>
        </li>
        <li>
            <button (click)="descargarArchivoPDF()" title="Descargar curriculum" aria-label="descargar curriculum" class="btn_footer material-symbols-outlined">
            archive
            </button>
        </li>
    </ul>