<h1 id="idSkills" class="main_title title-margin-top">SKILLS</h1>
<section class="main_portada__skill">
    <article *ngFor="let item of skillObj; let index = index" class="main_portada__skill_card">
        <div class="container_img">
            <img class="imgFilter" src="{{item.img}}" alt="">
            <div [ngClass]="{'percentageContrast': changeClase}" class="percentage percentage--{{item.title}}">
                <span class="main_description">{{item.percentage}}</span>
            </div>
        </div>
        <div class="container_description">
            <h2 class="main_subtitle">{{item.title | uppercase}}</h2>
            <p class="main_description main_description--colorGray" [ngClass]="{'container_descriptionContrast': changeClase}">{{item.description}}.</p>
        </div>
    </article>
</section>
