<h2 id="idExperiencia" class="main_title title--margin-top">EXPERIENCIA</h2>
<section class="main_experiencia__container">
    <article [ngClass]="{'main_experiencia__container_cardContrast': changeClase}" *ngFor="let item of experienciaObj" class="main_experiencia__container_card">
        <h3 class="main_experiencia__container_card__subtitle">{{item.title}}</h3>
        <p class="main_experiencia__container_card__description">{{item.company}}</p>
        <p class="main_experiencia__container_card__description main_experiencia__container_card__description--margin-top">{{item.description}}</p>
    </article>
</section>
