@import '../../../../assets/styles/colors';
.title--margin-top{
    margin-top: 24px;
    text-align: center;
}
.main_experiencia__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 32px 0 0;
    gap: 32px;

    &_card{
        padding: 24px;
        width: 100%;
        @media (width > 480px) {
            width: 45%;
        }
        &__title{
            color: $color-font;
            font-size: clamp(1.5rem, 3vw, 2rem);
        }
        &__subtitle, &__description{
            color: $color-font;
            font-size: clamp(0.8125rem, 3vw, 1.5rem);
        }
    }
    &_cardContrast{
        letter-spacing: 1px !important;
        line-height: 24px !important;
        background-color: black !important;
        border: 1px solid white !important;
    }
    &_cardContrast:last-child{
        border: none !important;
    }
    &_card:nth-child(1){
        background-color: $color-highlight;
    }
    &_card:nth-child(2){
        background-color: $color-tertiary;
    }
    &_card:nth-child(3){
        background-color: $color-subtitle;
    }
    &_card:last-child{
        padding: 0;
    }

    @media (width > 480px){
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 20%;
    }
}

