<h1 class="title title--margin-top">Experiencia</h1>
<section class="main_experiencia__container">
    <article class="main_experiencia__container_card">
        <h2>DISEÑADOR UX/UI</h2>
        <p>SII Group</p>
        <p>Responsable de la creación de maquetas en Angular con HTML semántico, SCSS
            metodología BEM y Typescript. Programación de funciones básicas y encargado de la
            Accesibilidad del proyecto. Además de brindar apoyo constante en distintas células.
        </p>
    </article>
    <article class="main_experiencia__container_card">
        <h2>DESARROLLADOR FULL-STACK</h2>
        <p>SAPSG</p>
        <p>Responsable de analizar, desarrollar y ejecutar soluciones de programación
            con lenguaje JavaScript, Html, Mysql, java y Bootstrap para cumplir con las necesidades
            de los clientes.
        </p>
    </article>
    <article class="main_experiencia__container_card">
        <h2>DESARROLLADOR JUNIOR</h2>
        <p>CIGSA</p>
        <p>Responsable de analizar, desarrollar y ejecutar soluciones de programación con lenguaje
            PHP, JavaScript, Html, CSS, Mysql y Bootstrap para cumplir con las necesidades de los
            clientes. Además, realización de trabajos administrativos en el área de informática,
            mantenimiento y soporte de servicios.
        </p>
    </article>
</section>
