<section cdkTrapFocus [cdkTrapFocusAutoCapture]="true" role="dialog"
  [ngClass]="{'container_modalContrast': !contrastActive}" class="container_modal">
  <article [ngClass]="{'modalContrast': !contrastActive}" class="modal">
    <button aria-label="Cerrar modal" (click)="toggleModal()" class="modal_close">
        <div aria-hidden="true" class="material-symbols-outlined">close</div>
      </button>
    <h2 tabindex="0" class="main_title main_title--margin-bottom">{{title}}</h2>
    <section class="modal__description">
      <button title="Descargar curriculum" tabindex="0" (click)="descargarArchivoPDF()" class="icon_cv">Puedes descargar mi currículum aquí
        <span aria-hidden="true" class=" material-symbols-outlined">
          archive
        </span>
      </button>
        <br aria-hidden="true">
        <p class="main_description" tabindex="0">{{maindescription}}</p>
        <br aria-hidden="true">
        <p tabindex="0" class="main_description">{{description}}.</p>
    </section>
  </article>
</section>
