@import '../../../assets/styles/colors';
.container_modal{
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
    .modal{
        height: 518px;
        background-color: $color-highlight;
        position: fixed;
        margin: 4%;
        padding: 24px;
        top: 0;
        .main_title--margin-bottom{
            margin-bottom: 16px;
        }
        .modal_close{
            color: $color-font;
            position: absolute;
            right: 0;
            top: 0;
            margin: 8px;
            cursor: pointer;
        }
        &__description{
            overflow: auto;
            height: 100%;
            max-height: 400px;
            @media (width> 480px){
            }
            .icon_cv{
                display: flex;
                cursor: pointer;
            }
        }
    }  
}
.container_modalContrast{
    .modalContrast{
        background-color: black;
        border: 1px solid white;
    }
}