<section [ngClass]="{'container_modalContrast': !contrastActive}" class="container_modal">
    <article [ngClass]="{'modalContrast': !contrastActive}" class="modal">
        <span (click)="toggleModal()" class="modal_close material-symbols-outlined">close</span>
        <h1 class="main_title">{{title}}</h1>
            <section class="modal__description">
                <p class="main_description"><span (click)="descargarArchivoPDF()" class="icon_cv">Puedes descargar mi cv aqui<span class=" material-symbols-outlined">
                    archive
                </span></span><br>{{maindescription}}</p>
                <br>
                <p class="main_description">{{description}}.</p>
            </section>
            <!-- <div class="divShadow"></div> -->
    </article>
</section>
