<section class="main_container">
        <article class="main_container-header">
            <section class="main_container-header_logo">
                <img src="../../../assets/img/proyecto04/letranetflix.png" alt="Logo de netflix">
            </section>
            <section class="main_container-header_buttons">
                <button>Español</button>
                <button>Iniciar sesión</button>
            </section>
        </article>
    <article class="main_container-cards">
        <section class="main_container-cards_card">
                <article class="main_container-cards_card-background">
                    <img src="../../../assets/img/proyecto04/foto_hero.jpg" alt="">
                    <div class="background-black"></div>
                    <div class="background-black"></div>
                </article>   

            <article class="main_container-cards_card-title">
                <h1>Películas y series ilimitadas y mucho más</h1>
                <p>Disfruta donde quieras. Cancela cuando quieras.</p>
                <p>¿Quieres ver Netflix ya? Ingresa tu email para crear una cuenta o reiniciar tu membresía de Netflix.</p>
                <form action="#">
                    <input type="text" name="email" id="email">
                    <button>Comenzar ></button>
                </form>
            </article>
            <div class="separador"></div>
        </section>
        <section class="main_container-cards_card"></section>
        <section class="main_container-cards_card"></section>
        <section class="main_container-cards_card"></section>
        <section class="main_container-cards_card"></section>
    </article>
    <article class="main_container-footer"></article>
</section>
