@import '../../../../assets/styles/colors';
.title--margin-top {
    padding-top: 59px;
    text-align: center;
}

.main_proyects__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 32px 0 40px;
    gap: 32px;

    &_card {
        position: relative;
        padding: 24px 24px 68px 24px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .container_img {
            width: 100%;
            height: 206px;
            overflow: hidden;

            img {
                width: 100%;
            }
        }
        .container_imgContrast{
            filter: grayscale(1);
        }
        &__link{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border: 1px solid white;
            background-color: transparent;
            padding: 10px;
        }
        @media (width > 480px) {
            width: 45%;
        }
    }
    .main_proyects__container_cardContrast{
        background-color: black;
        border: 1px solid white;
        line-height: 24px;
    }

    &_card:nth-child(1) {
        background-color: $color-highlight;
    }

    &_card:nth-child(2) {
        background-color: $color-blue;
        // .main_proyects__container_card__link{
        //     display: none;
        // }
    }

    &_card:nth-child(3) {
        background-color: $color-subtitle;
        // .main_proyects__container_card__link{
        //     display: none;
        // }
    }

    &_card:nth-child(4) {
        background-color: $color-secondary;
        .main_proyects__container_card__link{
            display: none;
        }
    }

    @media (width > 480px) {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 20%;
    }
}