<h2 id="idProyects" class="main_title title--margin-top">PROYECTOS</h2>
<section class="main_proyects__container">
    <article [ngClass]="{'main_proyects__container_cardContrast': changeClase}" *ngFor="let item of proyectsObj" class="main_proyects__container_card">
        <div [ngClass]="{'container_imgContrast': changeClase}" class="container_img">
            <img alt="" src="{{item.img}}">
            <div class="backgroundImg"></div>
        </div>
        <h3 class="main_subtitle">{{item.title}}</h3>
        <p class="main_description">{{item.subtitle}}</p>
        <p class="main_description">{{item.description}}</p>
        <button aria-label="Visitar proyecto" class="main_description main_proyects__container_card__link" routerLink={{item.ruta}}>Visitar</button>
    </article>
</section>
