$color-highlight: #7f5af0;
$color-background: #242629;
$color-subtitle: #94a1b2;
$color-secondary: #72757e;
$color-background-card: #16161a;
$color-font: #fffffe;
$color-tertiary: #2cb67d;
$color-blue: #2d348e;
$color-green: #1f7f9f;



// variables pinterest

// colores
$color-button-pinterest: #e60023;
$color-error-pinterest: #cc0000;
$color-button-pinterest-hover: #ad081b;
$color-button-pinterest-hover-gray: #e2e2e2;
$color-font-primary: #111111;
$color-button-gray: #efefef;
$color-font-white: #ffffff;

// font-weight
$font-weight-semibold: 600;