<section class="main_proyect02">
    <article *ngFor="let item of comentarioUsuario;" class="container_proyect02">
        <article class="main_card">
            <div class="main_card__head">
                <img src='{{item.img}}' alt="">
                <h2 class="main_card__head-name">{{item.nombre}}<span> {{item.time}}</span></h2>
            </div>
            <p>{{item.comment}}</p>
            <div class="container">
                <div class="container_plus">
                    <img src="../../../assets/img/proyect02/icon-plus.svg" alt="">
                    {{item.answers.length}} 
                    <img src="../../../assets/img/proyect02/icon-minus.svg" alt=""> 
                </div>
                <div id="buttonReply{{item.id}}" (click)="openButtonReply(item)" class="container_reply"><img src="../../../assets/img/proyect02/icon-reply.svg" alt="">Reply</div>
            </div>
        </article>

        <div class="container_comment" *ngIf="buttonReply === item.id">
            <section class="container_card-reply">
                <article *ngFor="let respuesta of item.answers" class="main_card main_card-reply">
                    <div *ngIf="respuesta.idUser != 2" class="main_card__head">
                        <img src={{respuesta.img}} alt="">
                        <h2 class="main_card__head-name">{{respuesta.time}}</h2>
                    </div>
                    <div *ngIf="respuesta.idUser == 2" class="main_card__head">
                        <img src="../../../assets/img/proyect02/avatars/image-juliusomo.png" alt="">
                        <h2 class="main_card__head-name">{{respuesta.time}}</h2>
                        
                    </div>
                    <textarea enabled>{{respuesta.comment}}</textarea>
                    <!-- ESTO TIENE QUE APARECER SOLAMENTE CUANDO UNO COMENTA -->
                    <!-- Esta validando que solo muestre el boton editar y eliminar cuando el ID sea igual a 2. el id es nuestro usuario  -->
                    <div *ngIf="respuesta.idUser == 2" class="container container-edit">
                        <div class="container_button-delete-edit">
                            <div (click)="eliminarRespuesta(respuesta.idAnswers)" class="container_delete"><img src="../../../assets/img/proyect02/icon-delete.svg" alt="">Delete</div>
                            <div (click)="editarRespuesta(respuesta.idAnswers)" class="container_reply"><img src="../../../assets/img/proyect02/icon-edit.svg" alt="">Edit</div>
                        </div>
                    </div>
                </article>
            </section>
            <form [formGroup]="miFormulario" (submit)="enviarFormularioReply(item)" *ngIf="true" class="container_send">
                <textarea id="rtaComment" name="rtaComment" formControlName="rtaComment" placeholder="Add a comment..." rows="4" cols="50"></textarea>
                <div class="container_send-button-img">
                    <div><img src="../../../assets/img/proyect02/avatars/image-juliusomo.png" alt=""></div>
                    <button type="submit">REPLY</button>
                </div>
            </form>
        </div>
    </article>
    <div class="container_comment">
        <section class="container_card-reply">
            <form [formGroup]="miFormulario2" (submit)="enviarFormularioSend()" class="container_send">
                <textarea id="rtaCommentSend" name="rtaCommentSend" formControlName="rtaCommentSend" placeholder="Add a comment..." rows="4" cols="50"></textarea>
                <div class="container_send-button-img">
                    <div><img src="../../../assets/img/proyect02/avatars/image-juliusomo.png" alt=""></div>
                    <button type="submit">SEND</button>
                </div>
            </form>
        </section>
    </div>
</section>