<section class="main_proyect02">
    <article class="container_proyect02">

        <article class="main_card">
            <div class="main_card__head">
                <img src="../../../assets/img/proyect02/avatars/image-amyrobson.webp" alt="">
                <h2 class="main_card__head-name">amyrobson<span> 1 month ago</span></h2>
            </div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae aut natus voluptas facilis! Aliquam maiores asperiores voluptate, ab veniam, quae ducimus magni ea adipisci odio inventore, eaque in eius ipsum?</p>
            <div class="container">
                <div class="container_plus"><img src="../../../assets/img/proyect02/icon-plus.svg" alt="">12<img src="../../../assets/img/proyect02/icon-minus.svg" alt=""> </div>
                <div class="container_reply"><img src="../../../assets/img/proyect02/icon-reply.svg" alt="">Reply</div>
            </div>
        </article>

        <section class="container_card-reply">
            <!-- CONTENEDOR DE CARD CON RESPUESTA -->
            <article class="main_card main_card-reply">
                <div class="main_card__head">
                    <img src="../../../assets/img/proyect02/avatars/image-amyrobson.webp" alt="">
                    <h2 class="main_card__head-name">amyrobson<span> 1 month ago</span></h2>
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae aut natus voluptas facilis! Aliquam maiores asperiores voluptate, ab veniam, quae ducimus magni ea adipisci odio inventore, eaque in eius ipsum?</p>
                <div class="container">
                    <div class="container_plus"><img src="../../../assets/img/proyect02/icon-plus.svg" alt="">12<img src="../../../assets/img/proyect02/icon-minus.svg" alt=""> </div>
                    <div class="container_reply"><img src="../../../assets/img/proyect02/icon-reply.svg" alt="">Reply</div>
                </div>
            </article>
        </section>



        <article class="main_card">
            <div class="main_card__head">
                <img src="../../../assets/img/proyect02/avatars/image-amyrobson.webp" alt="">
                <h2 class="main_card__head-name">amyrobson<span> 1 month ago</span></h2>
            </div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae aut natus voluptas facilis! Aliquam maiores asperiores voluptate, ab veniam, quae ducimus magni ea adipisci odio inventore, eaque in eius ipsum?</p>
            <div class="container">
                <div class="container_plus"><img src="../../../assets/img/proyect02/icon-plus.svg" alt="">12<img src="../../../assets/img/proyect02/icon-minus.svg" alt=""> </div>
                <div class="container_reply"><img src="../../../assets/img/proyect02/icon-reply.svg" alt="">Reply</div>
            </div>
        </article>

        <section>
            <div><img src="../../../assets/img/proyect02/avatars/image-juliusomo.png" alt=""></div>
            <input type="text" placeholder="Add a comment...">
            <button>SEND</button>
        </section>
    </article>
</section>