<nav id="nav_pinterest" class="nav_pinterest">
    <span class="nav_pinterest__icon">
        <img class="nav_pinterest__icon_img" src="../../../../assets/img/pinterest.png" alt="">
        <p class="nav_pinterest__icon_p">Pinterest</p>
    </span>
    <div class="nav_pinterest__container_ul">
        <ul class="nav_pinterest__ul-info">
            <li>Info</li>
            <li>Empresa</li>
            <li>Blog</li>
        </ul>
        <ul class="nav_pinterest__ul-button">
            <li><button class="nav_pinterest__ul-button-red">Inicio de sesión</button></li>
            <li><button class="nav_pinterest__ul-button-gray">Registrarse</button></li>
        </ul>
    </div>
</nav>