<nav class="main_nav">
    <section [ngClass]="{'menu_contrast': !navContrast}" class="main_nav__menu">
    </section>
    <article [ngClass]="{'main_nav__menu_list--active': !buttonMenu, 'main_nav__menu_list--activeContrast': !navContrast}" class="main_nav__menu_list">
        <a (click)="activeMenu()" href="#idPortada">Inicio</a>
        <a (click)="activeMenu()" href="#idExperiencia">Experiencia</a>
        <a (click)="activeMenu()"href="#idSkills">Skills</a>
        <a (click)="activeMenu()" href="#idProyects">Mis proyectos</a>
        <a (click)="abrirModal()" class="main_nav__menu_list--animation">Información de la web</a>
    </article>
    <article class="main_nav__menu_list main_nav__menu_list--accesibility" [ngClass]="{'main_nav__menu_list--accesibility--active': !buttonAccesibility, 'main_nav__menu_list--accesibility--activeContrast': !navContrast}">
        <section (click)="activeContrast()" class="main_nav__menu_list--accesibility__contrast">
            <div class="material-symbols-outlined">
                contrast
            </div>
            Contraste
        </section>
        <section (click)="aumentarSize()" class="main_nav__menu_list--accesibility_text main_nav__menu_list--accesibility__contrast">
            <div class="material-symbols-outlined">
                text_increase
            </div>
            Ascender
        </section>
        <section (click)="disminuirSize()" class="main_nav__menu_list--accesibility_text main_nav__menu_list--accesibility__contrast">
            <div class="material-symbols-outlined">
                text_decrease
            </div>
            Descender
        </section>
    </article>
    <!-- BOTON MENU DE A11Y -->
    <article (click)="activeMenuAccesibility()" class="main_nav__menu_contrast">
        <div class="material-symbols-outlined">
            accessibility_new
        </div>
        Accesibilidad

    </article>
    <!-- BOTON MENU OPCIONES -->
    <div (click)="activeMenu()" class="main_nav__menu_button material-symbols-outlined">menu</div>
</nav>
<section *ngIf="isOpen">
    <app-modal (closeModal)="cerrarModal($event)" [title]="titleModal" [description]="descriptionModal" [isOpen]="isOpen"></app-modal>
</section>
