
.main_nav{
    padding: 8px;
    height: 48px;
    background-color: #fffffe;
    display: flex;
    justify-content: flex-end;

    &__menu{
        width: 100%;
        &_button{
            display: flex;
            justify-content: flex-end;
            @media (width > 480px) {
                display: none;
            } 
        }
        &_list{
            padding: 0;
            display: none;
            flex-direction: column;
            list-style: none;
            text-align: center;
            width: 50%;
            background: #fffffe;
            position: absolute;
            right: 0;
            top: 48px;
            li{
                padding: 16px 8px;
            }
            li:hover{
                background-color: #ff8906;
                color: #fffffe;
            }

            @media (width > 480px){
                width: 100%;
                display: flex;
                position: initial;
                flex-direction: row;
                justify-content: flex-end;
                padding: 0 20%;
                
            }
        }
        &_list--active{
            display: flex;
        }


    }
    @media (width > 480px) {
        padding: 0;
    } 
}