/* You can add global styles to this file, and also import other style files */
html{
    scroll-behavior: smooth;
}
* {
    font-family: monospace;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #16161a;
}

a{
    color: #fffffe;
    text-decoration: none;
}

p, span{
    color: #94a1b2
}

.title{
    font-size: clamp(1.5rem, 3vw, 2rem);
    text-align: center;
    color: #fffffe;
}

