/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/colors';
html{
    scroll-behavior: smooth;
}
* {
    font-family: monospace;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: $color-background-card;
    font-size: 100%;
    color: $color-font;
    .main_title{
        font-size: 1.5em;
        @media (width > 930px) {
            font-size: 2.5em;
        } 
    }
    .main_subtitle{
        font-size: 1.625em;
    }
    .main_description{
        color: $color-font;
        font-size: 1em;
        @media (width > 930px) {
            font-size: 1.5em;
        }
    }
}


a{
    color: $color-font;
    text-decoration: none;
}

p{
    color: $color-subtitle;
}

.title{
    font-size: clamp(1.5rem, 3vw, 2rem);
    color: $color-font;
}

