.main_portada{
    display: flex;
    padding-top: 32px;
    background-color: #16161a;
    color: #fffffe;
    gap: 32px;
    flex-direction: column;
    
    .title-margin-top{
        margin-top: 24px;
    }
    &__info-main{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 20%;
        padding-top: 70px;
        &__name{
            width: 60%;
            h1{
                font-size: clamp(32px, 3vw, 34px);
            }
            p{
                font-size: clamp(24px, 3vw, 32x);
            }
            button{
                background-color: #7f5af0;
                border: none;
                border-radius: 16px;
                color: #fffffe;
                margin-top: 8px;
                padding: 8px;
                width: 100%;
                @media (width > 769px) {
                    padding: 16px;
                    width: 50%;
                }
            }
            button:hover{
                animation: zoom 2s infinite;
            }
            @keyframes zoom {
                0% { transform: scale(1.0)}
                50%{ transform: scale(1.1)}
                100%{ transform: scale(1.0)}
              }
        }
        &__img{
            width: 70%;
            position: relative;
            text-align: center;
            img{
                filter: drop-shadow(4px 6px 6px black);
                width: 100%;
                @media (width > 480px){
                    width: 80%;
                }
            }
        }
    }

    h1, h2{
        font-size: clamp(1.5rem, 3vw, 2rem);
    }
    p{
        font-size: clamp(12px, 3vw, 24px); 
    }

    // skills emigrar a otro componente!
    &__skill{
        padding: 0 20%;
        gap: 24px;
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
        
        &_card{
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 16px 24px;
            height: fit-content;
            text-align: center;
            .container_img{
                position: relative;
                display: flex;
                margin: 0 auto;
                flex-direction: column;
                .imgFilter{
                    width: 75%;
                    filter: grayscale(100%);
                    opacity: 70%;
                    margin: 0 auto;
                    @media (width > 480px){
                        width: 85px
                    }
                }
                .percentage{
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    position: absolute;
                    bottom: -26px;
                    left: 79px;
                    &--html{
                        background: #d9376d6e;
                        border: 3px solid #d9376e;
                        span{
                            color: #d9376e;
                        }
                    }
                    &--css{
                        background: rgb(107 128 0 / 28%);
                        border: 3px solid #718000;
                        span{
                            color: #718000;
                        }
                    }
                    &--typescript{
                        background: rgb(0 74 128 / 44%);
                        border: 3px solid #00806e;
                        span{
                            color: #00806e;
                        }
                    }
                    &--angular{
                        background: #d937376e;
                        border: 3px solid #d93737;
                        span{
                            color: #d93737;
                        }
                    }
                    @media (width > 480px) {
                        position: initial;
                        margin: 0 auto;
                        scale: 1.5;
                        margin: -18px 0 0 52px;
                    }
                }
            }
            @media (width > 480px) {
                margin: 3px;
                height: 300px;
                width: 45%;
            }
        }
        @media (width > 480px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .container-saludo{
        padding: 0 5%;
        .saludo{
            overflow: hidden;
            border-right: .15em solid orange;
            white-space: nowrap;
            margin: 0 auto;
            letter-spacing: .15em;
            animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
        }
        @keyframes typing {
            from { width: 0 }
            to { width: 100% }
        }
        @keyframes blink-caret {
            from, to { border-color: transparent }
            50% { border-color: orange; }
          }
          @media (width> 905px) {
            padding: 0 16%;
          }
    }
}
.container_modal{
    background-color: rgb(0 0 0);
    position: absolute;
    width: 100%;
    height: 100vh;
    transition: opacity 0.3s ease-in-out;
    display: none;
    .modal{
        height: auto;
        background-color: #7f5af0;
        position: fixed;
        align-content: center;
        margin: 0 16%;
        padding: 24px;
        top: 20%;

        span{
            color: white;
            position: absolute;
            right: 0;
            top: 0;
            margin: 8px;
            cursor: pointer;
        }
        h1{
            font-size: 1.5rem;
            margin-bottom: 8px;
        }
        h1, p{
            color: #fffffe;
        }
        @media (width > 480px){
            top: 30%;
        }
    }
&--active{
    display: initial;
    overflow: hidden;
}

  
}