<article id="idPortada" [ngClass]="{'main_portadaContrast': changeClase}" class="main_portada">
    <section class="main_portada__info-main">
        <article class="main_portada__info-main__name">
            <h1 class="main_title">Bastian Ulrich</h1>
            <p class="main_description">Desarrollador Web <br> y Diseñador UX/UI.</p>
            <!-- <button class="main_portada__info-main__name_button" (click)="abrirModal()">Mas detalles</button> -->
        </article>
        <article [ngClass]="{'main_portada__info-main__imgContrast': changeClase}" class="main_portada__info-main__img">
            <img alt="Foto de perfil" src="{{imgProfile}}">
        </article>
    </section>
    <div aria-hidden="true" class="main_title container-saludo">
        <p class="saludo">Hello world!</p>
    </div>
</article>
<!-- <section *ngIf="isOpen">
    <app-modal (closeModal)="cerrarModal($event)" [title]="titleModal" [description]="descriptionModal" [isOpen]="isOpen"></app-modal>
</section> -->

