@import '../../../../assets/styles/colors';
.main_portada{
    display: flex;
    padding-top: 32px;
    background-color: $color-background-card;
    color: $color-font;
    gap: 8px;
    flex-direction: column;
    
    .title-margin-top{
        margin-top: 24px;
    }
    &__info-main{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 70px 10% 0 10%;
        &__name{
            width: 60%;
            &_title{
                font-size: clamp(1.5rem, 3vw, 2rem);
            }
            &_subtitle{
                font-size: clamp(12px, 3vw, 24px);
            }
            &_button{
                background-color: $color-highlight;
                border: none;
                border-radius: 16px;
                color: $color-font;
                margin-top: 8px;
                padding: 8px;
                width: 100%;
                @media (width > 769px) {
                    padding: 16px;
                    width: 50%;
                }
            }
            &_button:hover{
                animation: zoom 2s infinite;
            }
            @keyframes zoom {
                0% { transform: scale(1.0)}
                50%{ transform: scale(1.1)}
                100%{ transform: scale(1.0)}
              }
        }
        &__img{
            width: 80%;
            position: relative;
            text-align: center;
            img{
                filter: drop-shadow(4px 6px 6px black);
                width: 100%;
                @media (width > 480px){
                    width: 80%;
                }
            }
        }
        &__imgContrast{
            filter: grayscale(1);
        }
        @media (width > 480px){
            padding: 70px 20% 0 20%;
        }
    }

    .container-saludo{
        padding: 0 5%;
        .saludo{
            font-size: 1.5rem;
            max-width: 200px;
            width: 100%;
            overflow: hidden;
            border-right: .15em solid orange;
            white-space: nowrap;
            margin: 0 auto;
            letter-spacing: .15em;
            animation: typing 5.5s steps(90, end), blink-caret .75s step-end infinite;
        }
        @keyframes typing {
            from { width: 0 }
            to { width: 100% }
        }
        @keyframes blink-caret {
            from, to { border-color: transparent }
            50% { border-color: orange; }
          }
          @media (width> 905px) {
            padding: 0 16%;
          }
    }
}
.main_portadaContrast{
    background-color: black;
    h1, p {
        color: $color-font;
    }
}