<article class="main_portada">
    <section class="main_portada__info-main">
        <article class="main_portada__info-main__name">
            <h1>Bastian Ulrich</h1>
            <p>Desarrollador web y Diseñador UX/UI.</p>
        </article>
        <article class="main_portada__info-main__img">
            <img src="{{imgProfile}}" alt="">
        </article>
    </section>

    <section class="main_portada__skill">
        <article class="main_portada__skill_card">
            <div class="container_img">
                <img class="imgFilter" src="{{imgHtml}}" alt="">
                <div class="percentage percentage--html">
                    <span>80%</span>
                </div>
            </div>
            <div class="container_description">
                <h2>HTML</h2>
                <p>Semantico y con accesibilidad.</p>
            </div>
        </article>

        <article class="main_portada__skill_card">
            <div class="container_img">
                <img class="imgFilter" src="{{imgCss}}" alt="">
                <div class="percentage percentage--css">
                    <span>80%</span>
                </div>
            </div>
            <div class="container_description">
                <h2>CSS</h2>
                <p>Metodologia BEM y enfoque Mobile first</p>
            </div>
        </article>

        <article class="main_portada__skill_card">
            <div class="container_img">
                <img class="imgFilter" src="{{imgTypescript}}" alt="">
                <div class="percentage percentage--typescript">
                    <span>80%</span>
                </div>
            </div>
            <div class="container_description">
                <h2>Typescript</h2>
                <p>Metodologia BEM</p>
            </div>
        </article>

        <article class="main_portada__skill_card">
            <div class="container_img">
                <img class="imgFilter" src="{{imgAngular}}" alt="">
                <div class="percentage percentage--angular">
                    <span>80%</span>
                </div>
            </div>
            <div class="container_description">
                <h2>Angular</h2>
                <p>Maquetacion y creacion de proyectos</p>
            </div>
        </article>

    </section>

</article>
